[fan]
pin: PE6
max_power: 1.0
#   The maximum power (expressed as a value from 0.0 to 1.0) that the
#   pin may be set to. The value 1.0 allows the pin to be set fully
#   enabled for extended periods, while a value of 0.5 would allow the
#   pin to be enabled for no more than half the time. This setting may
#   be used to limit the total power output (over extended periods) to
#   the fan. If this value is less than 1.0 then fan speed requests
#   will be scaled between zero and max_power (for example, if
#   max_power is .9 and a fan speed of 80% is requested then the fan
#   power will be set to 72%). The default is 1.0.

[heaterfan hotend]
pin: PE0
heater: extruder
heater_temp: 40
max_power: 1.0
fan_speed: 1
kick_start_time: 0

#[heater_fan fan2]
#pin: PC12

#[heater_fan fan3]
#pin: PE5

#[heater_fan fan4]
#pin: PE4

#[heater_fan fan5]
#pin: PB8
#tachometer_pin: PC14

[fan_generic]
#pin: PB9
#tachometer_pin: PC15

#[heater_fan SoC_fan]
#pin: CB1:gpio79
pin: CB1:gpio26 
max_power: 1.0
off_below: 40