# Hevort 400x400x490
# This file contains common pin mappings for the BIGTREETECH Manta M8P


# See docs/Config_Reference.md for a description of parameters.

[force_move]
enable_force_move: True
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.

[include X&Y-Axis.cfg]
[include Z-Axis.cfg]
[include Start_Stop.cfg]
[include shell_command.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include fans.cfg]
[exclude_object]
[include Speed.cfg]
#[include adxl.cfg]
[include shaketune.cfg]

[gcode_macro Maintance_Postion]
gcode:
  {% if "xyz" not in printer.toolhead.homed_axes %}
  G28
  {% endif %}
  G0 X190 Y100 F3000 
  G0 Z200 F3000 

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2F00050012504B4633373520-if00

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor CB1]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 20000
max_z_velocity: 25
max_z_accel: 30

[input_shaper]
shaper_type_x =ei
shaper_freq_x = 133
shaper_type_y =ei
shaper_freq_y = 129.2

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_C391E1304E5737374D202020FF071F15-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 27.065 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2


[resonance_tester]
accel_chip: beacon
probe_points: 90, 90, 20

[extruder]
step_pin: !PD8
dir_pin: PC6
enable_pin: !PC7
microsteps: 16
rotation_distance: 22.2
pressure_advance: 0.04 
nozzle_diameter: 0.4
Gear_ratio: 50:8
#Alu VZhextrudort Moons 10T
#rotation_distance: 22 
#gear_ratio: 50:10 
filament_diameter: 1.75
heater_pin: PE3 # HE0
sensor_type: PT1000
sensor_pin: PA1 # T0
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 280
max_extrude_only_distance: 120  # Maximum length (in mm of raw filament) that a retraction or extrude-only move may have. If a retraction or extrude-only move requests a distance greater than this value it will cause an error

[heater_fan heatbreak_cooling_fan]
pin: PE0
heater: extruder
heater_temp: 45

[fan]
pin: PE6
max_power: 1.0

#Motor 8
[tmc2209 extruder]
uart_pin: PD10
run_current: 0.5
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PB7
sensor_type: Generic 3950
sensor_pin: PA0 # TB
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 100







[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE9, EXP1_2=PE10,
    EXP1_3=PE11, EXP1_4=PE12,
    EXP1_5=PE13, EXP1_6=PE14,    # Slot in the socket on this side
    EXP1_7=PE15, EXP1_8=PB10,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14, EXP2_2=PB13,
    EXP2_3=PF7, EXP2_4=PB12,
    EXP2_5=PE7, EXP2_6=PB11,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[bltouch]
#sensor_pin: PB2
#control_pin: PB1

# Proximity switch
#[probe]
#pin: PF6

#[output_pin ps_on_pin]
#pin: PC3

#[output_pin pc13_pin]
#pin: PC13

#[neopixel my_neopixel_1]
#pin: PA9

#[neopixel my_neopixel_2]
#pin: PB15

#[hall_filament_width_sensor]
#adc1: PC5
#adc2: PB0

#[adxl345]
#cs_pin: PC4
#spi_bus: spi1

#[gcode_macro _CLIENT_VARIABLE]
#variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
#variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
#variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
#variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
#variable_retract          : 1.0   ; the value to retract while PAUSE
#variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
#variable_speed_retract    : 35.0  ; retract speed in mm/s
#variable_unretract        : 1.0   ; the value to unretract while RESUME
#variable_speed_unretract  : 35.0  ; unretract speed in mm/s
#variable_speed_hop        : 15.0  ; z move speed in mm/s
#variable_speed_move       : 100.0 ; move speed in mm/s
#variable_park_at_cancel   : False ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
#variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
#variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
## !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
#variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
#variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
#variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
#variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
#variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
#variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
#gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.061070, 0.043632, 0.031978, 0.028630, 0.033776, 0.044111, 0.058401, 0.069510, 0.076229, 0.076583, 0.077600, 0.086393, 0.100451, 0.116841, 0.127382
#*# 	  0.049448, 0.025439, 0.015050, 0.009591, 0.015666, 0.026280, 0.037538, 0.048162, 0.056055, 0.052387, 0.054198, 0.064444, 0.077509, 0.094302, 0.104326
#*# 	  0.033592, 0.010943, -0.004438, -0.009797, -0.002633, 0.008700, 0.016800, 0.029885, 0.035437, 0.031464, 0.030779, 0.043980, 0.058422, 0.073249, 0.084054
#*# 	  0.022252, -0.001267, -0.013501, -0.019210, -0.014767, -0.004035, 0.005185, 0.016097, 0.020791, 0.015764, 0.019446, 0.028999, 0.042648, 0.059253, 0.067206
#*# 	  0.015456, -0.010151, -0.022454, -0.024656, -0.020940, -0.010219, -0.002328, 0.009002, 0.012238, 0.008040, 0.005740, 0.019559, 0.030803, 0.047835, 0.059481
#*# 	  0.012926, -0.010536, -0.022413, -0.026814, -0.021415, -0.011581, -0.003290, 0.004538, 0.006574, 0.000796, 0.000184, 0.011823, 0.021922, 0.038472, 0.051479
#*# 	  0.010289, -0.013065, -0.026057, -0.027761, -0.025188, -0.014733, -0.007074, 0.002605, 0.001926, -0.003710, -0.007581, 0.001766, 0.011512, 0.029588, 0.040849
#*# 	  0.003029, -0.020730, -0.030974, -0.032638, -0.027924, -0.018387, -0.009431, -0.003869, -0.004102, -0.013322, -0.017155, -0.010410, 0.000709, 0.019033, 0.032153
#*# 	  0.008303, -0.015075, -0.025941, -0.029563, -0.021821, -0.011806, -0.003455, 0.000221, -0.003465, -0.013004, -0.020603, -0.012709, -0.000751, 0.018769, 0.031935
#*# 	  0.011083, -0.013193, -0.023538, -0.025047, -0.017898, -0.009416, -0.001738, 0.001856, -0.002574, -0.013605, -0.020678, -0.013296, 0.001260, 0.018725, 0.032174
#*# 	  0.015003, -0.006199, -0.018045, -0.020223, -0.013891, -0.004321, 0.002017, 0.005650, 0.001908, -0.008931, -0.016615, -0.007275, 0.006251, 0.022608, 0.033690
#*# 	  0.020341, -0.002746, -0.014868, -0.015877, -0.009762, -0.001687, 0.006765, 0.007671, 0.005532, -0.005470, -0.011691, -0.002943, 0.010021, 0.026015, 0.036087
#*# 	  0.027054, 0.002312, -0.008818, -0.010946, -0.006814, -0.001133, 0.006984, 0.010707, 0.006634, -0.002824, -0.009875, -0.002587, 0.008281, 0.025488, 0.034707
#*# 	  0.032403, 0.009779, -0.001570, -0.005711, -0.002641, 0.002091, 0.010915, 0.013281, 0.010793, -0.000617, -0.006419, -0.001994, 0.009070, 0.023392, 0.034552
#*# 	  0.041143, 0.017705, 0.006336, 0.001861, 0.003088, 0.008990, 0.016449, 0.018790, 0.013689, 0.005354, -0.001969, 0.002958, 0.013052, 0.028605, 0.037839
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 330.0
#*# min_y = 40.0
#*# max_y = 330.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.991
#*# pid_ki = 1.381
#*# pid_kd = 95.702
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 56.575
#*# pid_ki = 1.014
#*# pid_kd = 789.226
#*#
#*# [probe]
#*# z_offset = 1.090
#*#
#*# [beacon model default]
#*# model_coef = 1.6270334785910467,
#*# 	1.9358589655370095,
#*# 	0.6944667503927477,
#*# 	0.3467331080518884,
#*# 	0.29947309528805804,
#*# 	0.03637886230170646,
#*# 	-0.11552867932934471,
#*# 	0.1269243771100769,
#*# 	0.09765926865622498,
#*# 	-0.04101313448334751
#*# model_domain = 1.909085140968224e-07,1.9404669579870312e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 34.601923
#*# model_offset = 0.00000
